
# ------------------------------ SETTINGS ----------------------------------------

[loggers]
keys=root,applying

[handlers]
keys=applyingHandler

[formatters]
keys=applyingFormatter

# -------------------------------------------------------------------------------

# ------------------------------ LOGGERS ----------------------------------------
[logger_root]
level=INFO
handlers=applyingHandler

[logger_applying]
level=INFO
handlers=applyingHandler
qualname=applying

# -------------------------------------------------------------------------------

# ----------------------------- APPLYING HANDLER ---------------------------------

[handler_applyingHandler]
formatter=applyingFormatter
class=FileHandler
level=INFO
args=('.//Log//Logs//applying.log',)

[formatter_applyingFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
class=logging.Formatter

# -------------------------------------------------------------------------------
